<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book List</title>
</head>
<body>
<h1>Book List</h1>
<ul>
    <% books.forEach(function(book) { %>
        <li>
            <%= book.title %> by <%= book.author %>, published in <%= book.year %>, Genre: <%= book.genre %>
            <form action="/books/readed/<%= book.id %>" method="POST" style="display: inline;">
                <input type="checkbox" name="readed" onchange="this.form.submit()" <%= book.readed ? 'checked' : '' %>>
            </form>
            <form action="/books/delete/<%= book.id %>" method="POST" style="display: inline;">
                <button type="submit">Delete</button>
            </form>
        </li>
    <% }); %>
</ul>
<a href="/books/add"><button>Add New Book</button></a>
</body>
</html>
